# Python - Data Structures

1. What are data structures, and why are they important?
- Data structures in Python are specialized formats or containers used to store and organize data efficiently.
They are important as they provide various ways to store, access, and manipulate data according to specific needs.

2. Explain the difference between mutable and immutable data types with examples?
-  In Python, mutable data types allow their values to be changed after creation, while immutable data types cannot be altered once created.
Example : List,sets and dictionary are mutable data types whereas integers, string and tuples are immutable data types.

3. What are the main differences between lists and tuples in Python?
- (i) Lists are the data types that are mutable in nature ,i.e, it can be modified after its creation, whereas, tuples are immutable in nature ,i.e., it cannot be modified after its creation.      
(ii) Lists are created using square bracket[], whereas, tuples are created using paranthesis().  
(iii) Lists are slower and generally takes more space in memory as compared to tuples.

4. Describe how dictionaries store data?
- In python, dictionaries store data using hash tables. It store data as key-value pairs where each key is hashed to find an index where its value is stored, allowing for fast lookup, insertion, and deletion.

5. Why might you use a set instead of a list in Python?
- There are following reasons for using set instead of a list in python:-       
(i) As sets remove duplicate elements so it contains all the unique elements.   
(ii) Sets are faster as compared to lists.                                      
(iii) various set operations can also be performed like union, intersection, or difference.

6. What is a string in Python, and how is it different from a list?
- A string in Python is an immutable sequence of characters used to represent text. It is different from list as strings are immutable whereas lists are mutable in nature.

7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity in Python by being immutable, meaning their elements cannot be changed, added, or removed after creation. This immutability prevents accidental modification, making tuples ideal for storing constant or fixed data.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function to compute an index into an array of buckets or slots, from which the desired value can be found. It is related to dictionaries in python as dictionaries are implemented using a hash table.

9. Can lists contain different data types in Python?
- Yes, lists can contain different data types in Python. A list can hold a mix of integers, floats, strings, booleans, other lists, dictionaries, or any custom objects.

10. Explain why strings are immutable in Python.
- Strings are immutable in Python to ensure data integrity, hashability and also maintain the performance and reduce memory usage.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer various advantages over lists like it can be accessed faster as compared to list, dictionaries are in more readable form than list so it makes it easier for the user to understand, and data can be stored in the form of key-value pair in dictionaries which makes it more descriptive.

12. Describe a scenario where using a tuple would be preferable over a list?
- A tuple is preferable over a list when you need to store a fixed collection of items that should not change throughout the program as tuples are immutable in nature.

13. How do sets handle duplicate values in Python?
- A set is an unordered collection of unique elements. When you try to add duplicate values to a set, it will simply ignore the duplicate and only keep one occurrence of each value.

14. How does the “in” keyword work differently for lists and dictionaries?
- In list, "in" keyword is used to check if the exact value is present in the list or not, whereas, in dictionaries, "in" keyword is used to whether the key exist in the dictionary, not the value associated with the key.

15. Can you modify the elements of a tuple? Explain why or why not?
- No, we cannot modify the elements of a tuple as tuples are immutable in nature.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where the value of one or more keys is another dictionary. This allows for representing more complex data structures, where each key can map to another dictionary, which in turn contains more key-value pairs.
example:inventory = {
    "electronics": {
        "laptop": {"price": 999.99, "stock": 50},
        "smartphone": {"price": 599.99, "stock": 200},
        "headphones": {"price": 49.99, "stock": 150}
    },
    "clothing": {
        "t-shirt": {"price": 19.99, "stock": 120},
        "jeans": {"price": 39.99, "stock": 80},
        "jacket": {"price": 59.99, "stock": 60}
    },
    "groceries": {
        "apple": {"price": 1.99, "stock": 500},
        "milk": {"price": 2.49, "stock": 300},
        "bread": {"price": 1.49, "stock": 350}
    }
}

17. Describe the time complexity of accessing elements in a dictionary?
- The time complexity of accessing elements in a Python dictionary is O(1) on average, meaning it is a constant time operation. This is because dictionaries are implemented using hash tables.

18. In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries in following situations:
(i) in cases where order of the elements is need to be maintained.
(ii) in sequence of items.
(iii) when we require duplicate elements.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries in Python are considered unordered because they do not maintain the order of key-value pairs as they were inserted. This is due to the underlying implementation of dictionaries, which uses a hash table to store key-value pairs. It affect the data retrieval by accessing the data faster and also order of the data is does not matter in data retrieval.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- A dictionary retrieves data by key, where each key maps to a unique value, and it does not allow duplicate keys. While lists are ordered by position, dictionaries are unordered.

In [ ]:
# 1.  Write a code to create a string with your name and print it.
name = "Krishna"
print("My name is:",name)

My name is: Krishna

In [ ]:
# 2. Write a code to find the length of the string "Hello World".
str = "Hello World"
print("Length of the string is:",len(str))

Length of the string is: 11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
p = "Python Programming"
print(p[:3])

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.
str1= "hello"
str2= str1.upper()
print(str2)

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
rep = "I like apple."
rep.replace('apple','orange')

'I like orange.'

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list1 = [1,2,3,4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list2 = [1,2,3,4,5]
list2.remove(5)
print(list2)

[1, 2, 3, 4]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list3 = ['a','b','c','d']
list3[1]

'b'

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list4 = [10,20,30,40,50]
list4.reverse()
print(list4)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100,200,300)
print(t)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t2 = ('red','green','blue','yellow')
t2[-2]

'blue'

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num = (10,20,5,50)
minimum_number=min(num)
print("minimum_number:",minimum_number)

minimum_number: 5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
animals.index('cat')

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple','banana','kiwi')
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is in the tuple.

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 ={'a','b','c'}
print(set1)

{'a', 'b', 'c'}

In [ ]:
# 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2 = {1,2,3,4,5}
set2.clear()
print(set2)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set3 = {1,2,3,4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set_a = {1,2,3}
set_b = {3,4,5}
set_c = set_a.union(set_b)
print(set_c)

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set_d = {1,2,3}
set_e = {2,3,4}
set_f = set_d.intersection(set_e)
print(set_f)

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1 = {'name':'Krishna', 'age':23, 'city':'Lucknow'}
print(dict1)

{'name': 'Krishna', 'age': 23, 'city': 'Lucknow'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict2 = {'name': 'John', 'age': 25}
dict2['country'] = 'USA'
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict3 = {'name': 'Alice', 'age': 30}
dict3['name']

'Alice'

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict4= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict4['age']
print(dict4)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict5 = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict5:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list_a = [1,2,3,4,5]
tuple_a = (1,2,3,4,5)
dict_a = {'name':'Krishna', 'age':23, 'city':'Lucknow'}
print(list_a)
print(tuple_a)
print(dict_a)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Krishna', 'age': 23, 'city': 'Lucknow'}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [5, 11, 58, 97, 98]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
tools = ['python', 'MS-Excel','PowerBI','SQL','Statistics']
print("element with index 3:",tools[3])

element with index 3: SQL

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict_b = {'a': 1, 'b': 2}
dict_c= {'c': 3, 'd': 4}
dict_d = {**dict_b,**dict_c}
print("Combined dictionary:",dict_d)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30. Write a code to convert a list of strings into a set
list5 = [11,22,33,44,55]
set_list= set(list5)
print(set_list)

{33, 11, 44, 22, 55}